<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta content="text/html;charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- @{}引入静态资源  需要进行动态处理元素使用th:为前缀-->
		<link th:href="@{../bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}" rel="stylesheet"/>
		<title>personList</title>
	</head>
	
	<body class="container">
		<div class="with:80%">
			<form class="form-horizontal" th:action="@{/person/search}" method="post">				
				<div class="form-group">
            		<label for="name" class="col-sm-2 control-label">name</label>
            		<div class="col-sm-3">
                		<input type="text" class="form-control" name="name" id="name" placeholder="name"/>
            		</div>
            		<label for="age" class="col-sm-2 control-label">age</label>
            		<div class="col-sm-3">
                		<input type="text" class="form-control" name="age" id="age" placeholder="age"/>
            		</div>
				</div>
       			<div class="form-group">
            		<label for="address" class="col-sm-2 control-label">address</label>
            		<div class="col-sm-3">
                		<input type="text" class="form-control" name="address" id="address" placeholder="address"/>
            		</div>
            	</div>
				<div class="form-group">
            		<div class="col-sm-offset-2 col-sm-2 ">
                		<input type="submit" value="search" class="btn btn-info"/>
                		<a th:href="@{/person/toAdd}" class="btn btn-info">add</a>
            		</div>
        		</div>
        		
			</form>
		</div>
	
		<div class="with:80%">
		<table class="table table-hover">
	        <thead>
		        <tr>
		            <th>Id</th>
		            <th>User Name</th>
		            <th>Age</th>
		            <th>Address</th>
		            <th>Edit</th>
		            <th>Delete</th>
		        </tr>
	        </thead>
	        <tbody>
				<!-- th:if 如果结果是true才显示该标签-->
				<!-- lists.isEmpty 为了模板更加易用，Thymeleaf提供Utility对象（内置于Context中），可以通过#直接访问-->
				<tr th:if="${not #lists.isEmpty(peoples)}" th:each="each,state:${peoples}">
					<td th:text="${each.id}"></td>
		            <td th:text="${each.name}"></td>
		            <td th:text="${each.age}"></td>
		            <td th:text="${each.address}"></td>
		            <td><a th:href="@{/person/toEdit(id=${each.id})}">edit</a></td>
		            <td><a th:href="@{/person/delete(id=${each.id})}">delete</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		
		
	
		<script th:src="@{../jquery-3.3.1.js}" type="text/javascript"></script>
		<script th:src="@{../jquery-3.3.1.min.js}" type="text/javascript"></script>
		<script th:inline="javascript">

		</script>
	
	</body>
</html>